.ag-theme-quartz{
    --ag-header-background-color:#475E17 !important;
    --ag-header-foreground-color:white !important;
   --ag-background-color:#fff !important;
   --ag-odd-row-background-color:#fff !important;
   --ag-row-hover-color: #d9e6f7 !important;
}

